// For Bootstrap Datepicker
.datepicker .day,
.datepicker .dow {
    padding: 5px 10px;
}

.primary-carousel{
    .p-img{
        height: 390px;
    }
    .read-more{
        position: absolute;
        bottom: 40px;
    }
}