//
// Topbar
//
@import "notify";
.topbar {
  position: relative;
  height: $topbar-height;
  background: $topbar;
  z-index: 50;
  transition: $transitions;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.05);
  .navbar-collapse {
    padding: $navbar-collapse-padding;
  }
  .top-navbar {
    min-height: $topbar-height;
    padding: 0;
    .dropdown-toggle::after {
      display: none;
    }
    .navbar-header {
      line-height: $topbar-navlink-height;
    }
    .sidebartoggler.side-start {
      justify-content: center;
      margin-left: 0;
      color: $white;
      font-size: 20px;
    }
    .navbar-nav > .nav-item > .nav-link {
      line-height: $topbar-navlink-height;
      height: $topbar-navlink-height;
      padding: $topbar-navlink-padding;
      font-size: $topbar-navlink-font-size;
    }
    .navbar-nav > .nav-item {
      transition: 0.2s ease-in;
      &:hover {
        background: $transparent-dark-bg;
      }
    }
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: $topbar-navbrand-padding;
    .dark-logo {
      display: none;
    }
    .logo-icon {
      margin-right: 5px;
    }
  }
  .user-dd,
  .mailbox {
    width: $topbar-dropdown-width;
  }
  .nav-toggler,
  .topbartoggler {
    color: $theme-light;
    padding: $topbar-togglar-padding;
  }
}

//
// Search box
//
.app-search {
  margin-top: 15px;
  position: relative;
  .form-control {
    border-radius: 60px;
    border-color: transparent;
    transition: 0.2s ease-in;
    width: 180px;
    height: 30px;
    &:focus {
      width: 300px;
    }
  }
  a {
    position: absolute;
    top: 5px;
    right: 10px;
    color: $gray-600;
  }
}

//
// Mega Dropdown
//
.topbar {
  .mega-dropdown {
    position: static;
    .dropdown-menu {
      padding: 30px;
      @extend %square;
      width: 100%;
      max-height: $mega-dd-height;
      overflow: auto;
    }
  }
}

//
// Topbar Dropdown
//
.topbar {
  .dropdown-menu {
    padding-top: 0;
    border: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    &.dropdown-menu-end {
      .with-arrow {
        right: 0px;
        > span {
          right: 20px;
          left: auto;
        }
      }
    }
  }
}

//
// Mobile View Responsive
//
@media (max-width: 767px) {
  .topbar .top-navbar {
    .navbar-collapse.show,
    .navbar-collapse.collapsing {
      display: flex;
      width: 100%;
      border-top: 1px solid $border-color;
    }
    .navbar-nav {
      flex-direction: row;
      .dropdown {
        position: static;
      }
    }
    .navbar-nav > .nav-item > .nav-link {
      padding: 0 10px;
    }
    .navbar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .dropdown-menu {
      position: absolute;
      width: 100%;
    }
  }
}

//
// Landspace
//
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .mailbox {
    .message-center {
      height: 110px !important;
    }
  }
}
