html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*.project-description-wrapper {
    display: flex;
    justify-content: center;
}

.project-description {
    width: auto;
    height: auto;
    padding: 1.5rem;
    position: relative;
    background-color: white;
    display: flex;
    align-items: flex-end;*/
/*transition: 0.4s ease-out;*/
/*}

.project-name {
     width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.project-description:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;*/
/*border-radius: 15px;*/
/*background: rgba(0, 0, 0, .6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.project-description:hover::before {
    opacity: 1;
}

.project-description .project-details {
    position: relative;
    z-index: 3;
    color: #f7fafc;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.project-description:hover .project-details {
    opacity: 1;
    transform: translateY(0px)
}

.project-description .project-details button {
    padding: .6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

    .project-description .project-details button:hover {
        background-color: rgb(66, 148, 186);
    }*/

/*[data-description] {
    position: relative;
}

    [data-description]:hover::after {
        content: attr(data-description);
        position: absolute;
        display: inline-block;
        width: 400px;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 5px;
        padding: 5px;
        background-color: white;
        color: #495e70;
        font-size: .9rem;
    }*/

.project-name {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.project-name .project-description{
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 15px;
    position: absolute;
    z-index: 3;
    bottom: 100%;
    left: 0;
    margin-left: auto;
    opacity: 1;
    transition: opacity 0.3s;
}

    .project-name .project-description P {
        z-index: 20;
    }
        .project-name .project-description::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.project-name:hover .project-description{
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 20000;
}

.project-name .project-description-bottom {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 15px;
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    margin-left: auto;
    opacity: 1;
    transition: opacity 0.3s;
}


.project-name .project-description-bottom P {
    z-index: 20;
}

    .project-name .project-description-bottom::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
    }

.project-name:hover .project-description-bottom {
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 20000;
}