html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Tool Tips for Projects*/
.project-name {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.project-name .project-description{
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 15px;
    position: absolute;
    z-index: 3;
    bottom: 100%;
    left: 0;
    margin-left: auto;
    opacity: 1;
    transition: opacity 0.3s;
}

    .project-name .project-description P {
        z-index: 20;
    }
        .project-name .project-description::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.project-name:hover .project-description{
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 20000;
}

.project-name .project-description-bottom {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 15px 15px;
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    margin-left: auto;
    opacity: 1;
    transition: opacity 0.3s;
}


.project-name .project-description-bottom P {
    z-index: 20;
}

    .project-name .project-description-bottom::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
    }

.project-name:hover .project-description-bottom {
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 20000;
}

/* Badges for Ticket Priority and Ticket Status */

/*td[data-status] span .badge{
    padding-top: 60px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
}

td[data-status] .badge {
        margin-right: 10px;
    }*/

[data-status] {
    display: inline-block;
    font-size: inherit;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid transparent;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 5px;
}

[data-status="New"] {
    color: #64DD17;
    border-color: #64DD17;
    background-color: transparent;
}

[data-status="Development"] {
    color: #29b6f6; 
    border-color: #29B6F6;
    background-color: transparent;
}

[data-status="Testing"] {
    color: #2196f3;
    border-color: #2196F3;
    background-color: transparent;
}

[data-status="Resolved"] {
    color: #b0bec5;
    border-color: #B0BEC5;
    background-color: transparent;
}

[data-priority] {
    display: inline-block;
    font-size: inherit;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid transparent;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 5px;
}

[data-priority="Low"] {
    color: #64DD17;
    border-color: #64DD17;
    background-color: transparent;
}

[data-priority="Medium"] {
    color: #323a45;
    border-color: #323a45;
    background-color: transparent;
}

[data-priority="High"] {
    color: #FFD600;
    border-color: #FFD600;
    background-color: transparent;
}

[data-priority="Urgent"] {
    color: #ef1c1c;
    border-color: #ef1c1c;
    background-color: transparent;
}
